*{
    font-family: Poppins;
}
header, .wrapper, #bimestre-and-filter{
    margin: 8px 8px 8px 8px;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .25rem 1rem;
    margin-bottom: 0;
    list-style: none;
    background: #F3F5F7;
    border-radius: .25rem;
    --bs-breadcrumb-divider: '>';
}
/*div bimestre*/
#filter_buttom{
        border-radius: 24px;
        background-color: #AB58B9;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        float: right;
}
#class{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        color: #4F4F4F;
        background: #D6E3EA;
}
#drop_bimestre{
        background: #FFFDFD;
        box-sizing: border-box;
        border-radius: 8px;
}
/*div bimestre*/
/*box config*/
    #ident_class{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;

        /* identical to box height, or 100% */
        color: #AB58B9;
    }
    #cont_div{
        text-align: right;
    }
    #class_cod{
      
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 8px;
        line-height: 8px;
        /* identical to box height, or 100% */
        text-align: left;

        color: #4F4F4F;
    }
    /*student icon, dot and count number*/
    #student_icon{
        color: #AB58B9;
        font-size: 18px;
        
    }
    #dot{
        color: #AB58B9;

    }
    #student_count{
    
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        /* identical to box height, or 100% */
    
    
        color: #AB58B9;
    
    }
    /*student icon, dot and count number*/
    /*SUBJECTS V */
    
    /*SUBJECTS*/
    /*Progress Bar*/
    #progress_bar_tittle{
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 8px;
        /* identical to box height, or 100% */
        align-items: left;
    
        color: #4F4F4F;
    }
    /*Progress Bar*/
    #class_lock{
        font-family: Material Icons;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        cursor: pointer;
        
        color: #AB58B9;}
@media (min-width:970px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
        display: grid;
        grid-gap: 20px;
        background-color: none;
        color: #444;
    }

    .box {
        background-color: none;
        color: black;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        background: #FFFFFf;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
    }

    .progress-bar{
        width: 50%;
    }
    .disciplinas{
    text-align: center;
    font-size: 15px;
    }
    
}
@media (max-width:970px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        grid-gap: 20px;
        background-color: none;
        color: #444;
    }

    .box {
        background-color: none;
        color: black;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        background: #FFFFFf;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
    }

    .progress-bar{
        width: 50%;
    }
    .disciplinas{
        text-align: center;
        font-size: 15px;
    }
   
}
@media (max-width:670px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
        display: grid;
        grid-gap: 20px;
        background-color: none;
        color: #444;
    }

    .box {
        background-color: none;
        color: black;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        background: #FFFFFf;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
        border-radius: 16px;
    }

    .progress-bar{
        width: 50%;
    }
    .disciplinas{
        text-align: center;
        font-size: 15px;
    }
   
}
