@media (min-width:970px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
        display: grid;
        grid-gap: 20px;
        background-color: none;
        color: #444;
    }
    
    .box {
        background-color: none;
        color: black;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        border: 2px solid purple;
        border-radius: 15px;
    }

    .progress-bar{
        width: 50%;
    }
    .disciplinas{
    text-align: center;
    font-size: 15px;
    }
    .btn{
        border: 0.5px solid purple;
    }
}
@media (min-width:770px) {
    .wrapper {
        grid-template-columns: repeat(4, 1fr);
        display: grid;
        grid-gap: 20px;
        background-color: none;
        color: #444;
    }

    .box {
        background-color: none;
        color: black;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        border: 2px solid purple;
        border-radius: 15px;
    }

    .progress-bar{
        width: 50%;
    }
    .disciplinas{
    text-align: center;
    font-size: 15px;
    }
    .btn{
        border: 0.5px solid purple;
    }
}
@media (max-width:770px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        display: grid;
        grid-gap: 20px;
        background-color: none;
        color: #444;
    }

    .box {
        background-color: none;
        color: black;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
        border: 2px solid purple;
        border-radius: 15px;
    }

    .progress-bar{
        width: 50%;
    }
    .disciplinas{
    text-align: center;
    font-size: 15px;
    }
    .btn{
        border: 0.5px solid purple;
    }
}
